* { /* clear all element format*/
    padding:0;
    margin:0;
}

body#whales {
    background-image: url("images/orcas.jpg");
    background-size: 1400px;
    background-attachment:fixed;
}

body#index {
    background-image: url("images/index-background.jpg");
    background-size: 1400px;
    background-attachment:fixed;
}

div#wrapper {
    margin:0 auto; /* center element */
    width: 940px;
    background: rgba(212, 212, 212, 0.856);
}

h1, h2, h3 {
    margin: 15px 10px 15px 10px;
}

p {
    margin: 10px 10px;
}

/* Style for the collapsible button */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

/* Color when button is clicked or hovered over */
.active, .collapsible:hover {
    background-color: #ccc;
  }

/* Style for the collapsible content */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  



