* { /* clear all element format*/
    padding:0;
    margin:0;
}

body {
    background-image: url("images/orcas.jpg");
    background-size: 1400px;
    background-attachment:fixed;
}

div#wrapper {
    margin:0 auto; /* center element */
    width: 940px;
    background: rgb(212, 212, 212);
}

