* { /* clear all element format*/
    padding:0;
    margin:0;
}

body#whales {
    background-image: url("images/orcas.jpg");
    background-size: 1400px;
    background-attachment:fixed;
}

body#index {
    background-image: url("images/index-background.jpg");
    background-size: 1400px;
    background-attachment:fixed;
}

div#wrapper {
    margin:0 auto; /* center element */
    padding-bottom: 20px;
    width: 940px;
    background: rgba(212, 212, 212, 0.856);
}

ul {
    padding-left: 50px;
    padding-right: 50px;
}

h1, h2, h3 {
    margin: 15px 10px 15px 10px;
}

p {
    margin: 10px 10px;
}

/* COLLAPSIBLE BUTTON SYLE */

/* Style for the collapsible button */
.collapsible {
    background-color: #eee;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

/* Color when button is clicked or hovered over */
.active, .collapsible:hover {
    background-color: #ccc;
  }

/* Style for the collapsible content */
.content {
    padding-top: 5px;
    padding-bottom: 5px;
    display: none;
    overflow: hidden;
    background-color: #ccc;
  }


/* NAVIGATION BAR SYLE */

/* Add a black background color to the top navigation */
.topnav {
    background-color: #eee;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ccc;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgba(212, 212, 212, 0.856);
    color: black;
  }



